<div class="wrap">
    <div class="card">
        <a href="/auth/google" class="google-btn">
            <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo" />
            Sign in with Google
        </a>
    </div>
</div>